<h2 *ngIf="waiting">Please wait...</h2>

<div *ngIf="showResults">
  <h4 *ngIf="total_count">Found {{total_count}} results for {{searchTerm}}</h4>
  <div class="row" *ngIf="repos">
    <div class="col-md-1"> </div>
    <div class="col-md-11">
      <ul class="list-unstyled">
        <li class="repos" *ngFor="let repo of repos">
          <h3><a href="repo-detail/{{repo.name}}/{{repo.id}}">{{repo.full_name}}</a></h3>
          <span>{{repo.description}}</span>
          <ul class="interestingURLs">
            <li>HTML URL <a href="{{repo.html_url}}">({{repo.html_url}})</a></li>
            <li>API URL <a href="{{repo.url}}">{{repo.url}}</a></li>
            <li>Issues API URL <a href="{{repo.issues_url}}">{{repo.issues_url}}</a></li>
          </ul>
          <ul class="list-inline badges">
            <li>Forks <span class="badge">{{repo.forks_count}}</span></li>
            <li>Stargazers <span class="badge">{{repo.stargazers_count}}</span></li>
            <li>Open Issues <span class="badge">{{repo.open_issues_count}}</span></li>
          </ul>
          <button (click)="onSelect(repo)">View Issues</button>
        </li>
      </ul>
    </div>
  </div>
</div>