<h2 *ngIf="waiting">Please wait...</h2>

<div *ngIf="showResults">
  <h2 *ngIf="total_count">Found {{total_count}} results for {{searchTerm}}</h2>

  <div class="row" *ngIf="repos">
    <div class="col-md-1"> </div>
    <div class="col-md-10">
      <ul class="list-unstyled">
        <li *ngFor="let repo of repos">
          <h3 ><a href="repo-detail/{{id}}">{{repo.full_name}}</a></h3>
          <h4>
            <a href="{{repo.html_url}}"><small>({{repo.html_url}})</small></a>
          </h4>
          <p>{{repo.description}}</p>
          <a href="{{repo.url}}">{{repo.url}}</a>
          <a href="{{repo.issues_url}}">{{repo.issues_url}}</a>
          <ul class="list-inline">
            <li>Forks <span class="badge">{{repo.forks_count}}</span></li>
            <li>Stargazers <span class="badge">{{repo.stargazers_count}}</span></li>
            <li>Open Issues <span class="badge">{{repo.open_issues_count}}</span></li>
          </ul>
          <button (click)="onSelect(repo)">View Issues</button>
          <hr>
        </li>
      </ul>
    </div>
    <div class="col-md-1"> </div>
  </div>
</div>