button {
    margin: 4px auto 8px;
}

li.repos {
    border-bottom: 1px solid slategrey;
}

h3 {
    margin-top: .2em;
}

div.row {
    /* hack: how to couple to the search component's height, move to syles.css?*/
    height: calc(100vh - 250px);
    overflow-y: auto;
}