<h4 *ngIf="waiting">Please wait...</h4>

<div *ngIf="showResults">
  <h4>{{totalCount}} results found for {{searchTerm}} <span *ngIf="totalCount !== totalCountForPagination">(only the first 1000 are viewable)</span></h4>
  <div class="row" *ngIf="repos">
    <div class="col-md-1"> </div>
    <div class="col-md-11">
      <ul class="list-unstyled">
        <li class="repos" *ngFor="let repo of repos">
          <h3><a (click)="onSelect(repo)" href="repo-detail/{{repo.name}}/{{repo.id}}"><img class="avatar" src="{{repo.owner.avatarUrl}}&s=32" alt="{{repo.owner.login}}"> {{repo.fullName}}</a></h3>
          <span>{{repo.description}}</span>
          <ul class="interestingURLs">
            <li>HTML URL <a href="{{repo.html_url}}">{{repo.htmlUrl}}</a></li>
            <li>API URL <a href="{{repo.url}}">{{repo.apiUrl}}</a></li>
            <li>Issues API URL <a href="{{repo.issues_url}}">{{repo.issuesUrl}}</a></li>
          </ul>
          <ul class="list-inline badges">
            <li>Forks <span class="badge">{{repo.forksCount}}</span></li>
            <li>Stargazers <span class="badge">{{repo.stargazersCount}}</span></li>
            <li>Open Issues <span class="badge">{{repo.openIssuesCount}}</span></li>
          </ul>
          <button (click)="onSelect(repo)">View Issues</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="text-center">
    <pagination class="pagination-sm" 
      [totalItems]="totalCountForPagination" 
      [(ngModel)]="currentPage" 
      [maxSize]="maxSize" 
      [boundaryLinks]="true" 
      [rotate]="false" 
      (numPages)="numPages = $event" 
      (pageChanged)="pageChanged($event)">
    </pagination>
  </div>
</div>