<h1>{{title}}</h1>
<div class="row">
  <div class="col-md-4">
    <ul class="list-unstyled">
      <li *ngFor="let repo of repos | async" [class.bg-info]="repo === selectedRepo" (click)="onSelect(repo)">
        <h3><a href="{{repo.html_url}}">{{repo.full_name}} <small>({{repo.html_url}})</small></a></h3>
        <p>{{repo.description}}</p>
        <a href="{{repo.url}}">{{repo.url}}</a>
        <a href="{{repo.issues_url}}">{{repo.issues_url}}</a>
        <ul class="list-inline">
          <li>Forks <span class="badge">{{repo.forks_count}}</span></li>
          <li>Stargazers <span class="badge">{{repo.stargazers_count}}</span></li>
          <li>Open Issues <span class="badge">{{repo.open_issues_count}}</span></li>
        </ul>
        <hr>
      </li>
    </ul>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <app-repo-detail [repo]="selectedRepo"></app-repo-detail>
  </div>
</div>
