<h1>{{title}}</h1>
<h2>Repos</h2>
<ul>
  <li *ngFor="let repo of repos | async"
    [class.selected]="repo === selectedRepo"
    (click)="onSelect(repo)">
    <dl class="dl-horizontal">
      <dt>{{repo.full_name}}</dt><dd>{{repo.description}}</dd>
      <dt>url</dt><dd>{{repo.url}}</dd>
      <dt>forks count</dt><dd><span class="badge">{{repo.forks_count}}</span></dd>
      <dt>stargazers count</dt><dd><span class="badge bold">{{repo.stargazers_count}}</span></dd>
      <dt>open issues count</dt><dd><span class="badge bold">{{repo.open_issues_count}}</span></dd>
    </dl>
  </li>
</ul>