<ul *ngIf="issues" class="list-unstyled">
  <li *ngFor="let issue of issues">
    <span [class]="issue.state == 'open' ? 'glyphicon glyphicon-exclamation-sign' :  'glyphicon glyphicon-ok-circle' " aria-hidden="true"></span>
    {{issue.state}}
    
    <strong><a href="{{issue.url}}" target="_blank">{{issue.title}}</a></strong> 
    <span *ngFor="let label of issue.labels">
      <span [style.background-color]="label.color" class="label label-default">{{label.name}}</span>
    </span>

    <div>
      #{{issue.number}} opened at {{issue.createdAt}} by {{issue.user.login}} 
    </div>
  </li>
</ul>