.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

div.form-group {
  padding-bottom: 10px;
  border-bottom: 1px solid slategrey;
  margin: 0;
}